// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.hover-none:hover {
  background-color: inherit !important;
  color: inherit !important;
}

.text-left {
  text-align: left !important;
}

.close {
  border-radius: 50px;
  border: solid 2px #d4d4d4;
  font-size: 30px;
  height: 35px;
  width: 35px;
  background: #26292a;
  position: absolute;
  top: -20px;
  right: -20px;
}
.close-mark {
  width: 25px;
  height: 25px;
}

.player-image {
  height: 120px;
  width: 120px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}
