// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

table {
  min-width: 1000px;
}

.bg-yellow {
  background: #feb404;
}

.bg-yellow:hover {
  background: rgb(228, 159, 0);
}

.bg-yellow:active {
  background: #be8500 !important;
  border: solid 1px #bd8401 !important;
}

.icon-flag {
  width: 40px;
  height: 23px;
  object-fit: cover;
}

.hover-none:hover {
  background-color: inherit !important;
  color: inherit !important;
}

.text-left {
  text-align: left !important;
}

.close {
  border-radius: 50px;
  border: solid 2px #d4d4d4;
  font-size: 30px;
  height: 35px;
  width: 35px;
  background: #26292a;
  position: absolute;
  top: -15px;
  right: -15px;
}
.close-mark {
  width: 25px;
  height: 25px;
}

.player-image {
  height: 120px;
  width: 120px;
}

.logo {
  position: absolute;
  top: 38.79px;
  left: 38.79px;
  width: 150px;
  transition: filter 0.5s ease;
  z-index: 2;
}

.logo:hover {
  filter: brightness(0);
}

.the-menu {
  position: absolute;
  top: calc(28px + 1vw);
  right: calc(60px + 1vw);
  z-index: 9999;
  transition: 0.4s ease-in-out;
}

.the-menu a {
  display: block;
  padding: 0 15px;
  text-decoration: none;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: calc(8px + 0.2vw);
  font-weight: normal;
  letter-spacing: 3px;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

li {
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

ul li {
  padding: 0;
  margin: 0;
}

.hovered {
  background-color: #f0f0f0;
  color: blue;
}

.player-modal {
  font-family: "Lato";
  font-weight: normal;
}

.lh-2 {
  line-height: 2;
}

.race-title {
  font-size: 30px;
}

// Loading logo

$speed: 0.75s;

@keyframes pushForward {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.loader-container {
  overflow: hidden;
  position: absolute !important;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.loading-logo {
  width: 500px;
  filter: brightness(0) contrast(100%);
  transition: transform $speed ease-in-out, opacity $speed ease-in-out;
}

.animate {
  animation: pushForward $speed forwards;
}

th {
  background: #e7e7e7;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.cursor-pointer {
  cursor: pointer;
}
